# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/
ENV/
env.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pytype
.pytype/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Data files
*.sqlite3
*.db
*.csv
*.tsv

# Ignore data or secrets
*.zip
*.tar.gz
*.7z
*.rar
*.pdf
*.key
*.pem
*.crt

# Spyder project settings
.spyderproject
.spyproject

# Jupyter notebook metadata
*.nbconvert.ipynb
data.zip
